
<mat-card>
  <div cdkDropListGroup>
    <label *ngIf="cards.length > 0">Minha mão</label>
    <div style="margin-top: 60px; display: flex; justify-content: start; align-items: start;" class="card-display">
      <div *ngFor="let card of cards; let i = index" class="card-container">
        <img [src]="card.image" class="card" alt="Carta">
        <span *ngIf="card.value === 'ACE'"> ({{ card.displayValue }})</span>
      </div>
    </div>

    <div style="display: flex; justify-content: end; background-color: beige; width: 100%; height: 50px;" class="trash" cdkDropList (cdkDropListDropped)="onDrop($event)">
      🗑️
    </div>
  </div>
</mat-card>
<hr>


