
<mat-card class="mat-elevation-z8">
  <div cdkDropListGroup>
    <label *ngIf="cards.length > 0">Minha mão</label>
    <div class="card-display">
      <div *ngFor="let card of cards; let i = index" class="card-container">
        <img [src]="card.image" class="card" alt="Carta">
        <span *ngIf="card.value === 'ACE'"> ({{ card.displayValue }})</span>
      </div>
    </div>

    <div class="trash" cdkDropList (cdkDropListDropped)="onDrop($event)">
      🗑️
    </div>
  </div>
</mat-card>
<hr>


