.card-display {
  margin-top: 30px;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
  min-height: 200px;
}

.trash {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 1rem;
  font-size: 2rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.cdk-drag-preview {
  opacity: 0.5;
  border: 1px dashed #ccc;
}

.trash-complement {
  display: flex;
  justify-content: end;
  background-color: transparent;
  width: 100%;
  height: 50px;
}
