<mat-card appearance="outlined" class="mat-elevation-z8">
  <app-header></app-header>
  <mat-card-header></mat-card-header>
  <app-game-controls
  [gameEnded]="gameEnded"
    (drawCardEvent)="onDrawCard()"
    (restartGameEvent)="onRestartGame()"
    (stopGameEvent)="onStopGame()"
  ></app-game-controls>
  <app-user-info [score]="score" [userName]="userName"></app-user-info>
  <app-card-display [cards]="userCards" (cardRemoved)="onCardRemoved($event)"></app-card-display>
  <div style="text-align: end;" class="footer">
    <button mat-raised-button class="stop-button" (click)="onStopGame()" (mouseenter)="showStopGameSnackbar()" (mouseleave)="hideStopGameSnackbar()">Parar</button>
  </div>
</mat-card>
